.sidebar {
    margin: 5% 0 0 0;
    height: 67%;
    width: 20%;
    background:rgba(0, 0, 0,0.5);
    
}
.sidebar__content{  
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 15px;
    padding-left: 40px;
    user-select: none;
}
.sidebar__content:hover {
    background: #dadada;
    color :white;
}
.sidebar__img{
    height: 10%;
    width: 100%;

}
.sidebar__img .sidebar__img__content {
    width: 100%;
    height: 100%;
    object-fit: contain;
   
}
.sidebar__img small{
    font-weight:600;
    font-size: 10px;
    display: flex;
    justify-content: center;
    user-select: none;
    
}