<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assest/Css/page.css">
    <link rel="icon" type="image/x-icon" href="/Assest/Img/xg_Faker_8.jpg">
    <link rel="stylesheet" href="/Assest/Css/info__table.css">
    <link rel="stylesheet" href="/Assest/Css/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/Assest/Js/Page.js" defer></script>
    <script src="/Assest/Js/nav__search.js" defer></script>
    <title>Fresh</title>
</head>
<body>
    <div class="navbar">
        <div class="wrap__content__navbar">
            <i class="fa-solid fa-bars menu"></i>
        </div>
              
            <div class="navbar__logo ">
                <img src="/Assest/Img/reallogo.png" alt="Logo" id="logo">
            </div>
            <div class="nav__content">
            <div class="navbar__order ">
                Đã mua
            </div>
            <div class="navbar__bought ">
                Đã đặt 
            </div>
            <div class="navbar__delivery ">
                Đang giao 
            </div>
        </div>
            <div class="navbar__search ">
                <input type="text" id="search__input">
            </div>
            <i class='bx bx-search search__icon'></i>

            <div class="navbar__info ">
                <img src="/Assest/Img/Avatar-trang.jpg" id="info__img" alt="">
            </div>
     
        </div>
    </div>

    <!-- Info--table -->
        <div class="info__table">
            <div class="infomation">
                <div class="wrap__1">
                <div class="table__info__img">
                <img src="/Assest/Img/Avatar-trang.jpg"  alt="" class="talbe__img">
                <span class="change__info__img">
                    <i class="fa-solid fa-camera change__img"></i>
                </span>
                </div>
                <div class="info__table__account">
                    <h1 class="table__username">Danhnguyen</h1>
                    <small>ngdanh1509@Gmail.com</small>
                </div>
             </div>
          </div>
        <ul class="helping__acount">
            <div class="second__ul__table__account">
                 <li class="setting__account helping__acount__content">
                    Cài đặt tài khoản 
                 </li>
                <li class="Helping helping__acount__content" >
                    Nhận trợ giúp
                </li>
            </div>
        </ul>
            <div class="download wrap__3">
                Tải Fresh App
            </div>
            <div class="marketing wrap__3">
                Giới thiệu cho bạn bè <i class="fa-solid fa-gift"></i>  
            </div>
            <div class="create__group wrap__3">
                Tạo nhóm mua sắm 
            </div>
            <div class="policy wrap__3">
                Chính sách của Fresh
            </div>
            <div class="logout wrap__3">
                Đăng xuất 
            </div>
        </div>
        
        <!-- SideBar -->
        <div class="body">
            <div class="sidebar">
                <div class="sidebar__info"></div>
                    <div class="Page sidebar__content">
                        Trang chủ
                    </div>
                    <div class="Vergetable sidebar__content">
                        Rau Củ 
                    </div>
                    <div class="Drink sidebar__content">
                        Nước giải khát 
                    </div>
                    <div class="Snack sidebar__content">
                        Snack 
                    </div>
                    <div class="Soap sidebar__content">
                        Xà bông
                    </div>
                    <div class="Sale sidebar__content">
                        Đồ đang giảm giá 
                    </div>
            </div>
        </div>
</body>
</html>