<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assest/Css/page.css">
    <link rel="icon" type="image/x-icon" href="/Assest/Img/xg_Faker_8.jpg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="./Assest/Js/Loggin.js" defer></script>
    <script src="./Assest/Js/Register.js" defer></script>
    <script src="./Assest/Js/Page.js" defer></script>
    <title>Fresh</title>
</head>
<body>
    <div class="navbar">
        <div class="wrap__content__navbar">
            <div class="navbar__logo ">
                <img src="/Assest/Img/reallogo.png" alt="Logo" id="logo">
            </div>
            <div class="nav__content">
            <div class="navbar__order ">
                Đã mua
            </div>
            <div class="navbar__bought ">
                Đã đặt 
            </div>
            <div class="navbar__delivery ">
                Đang giao 
            </div>
        </div>
            <div class="navbar__search ">
                <i class='bx bx-search'></i>
            </div>
            <div class="navbar__info ">
                <img src="/Assest/Img/Avatar-trang.jpg" id="info__img" alt="">
            </div>
        </div>

    </div>
    <h1>Đang làm thêm</h1>
</body>
</html>